@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('@/assets/fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('@/assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto-Slab';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Slab Medium'), local('Roboto-Slab-Medium'), url('@/assets/fonts/Roboto-Slab-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	text-transform: none!important;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:not(input),
*:focus:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

*,
:after,
:before {
	box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
	line-height: 1.5;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.7);
}

a {
    color: #f7d000;
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

[v-cloak] {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"] {
	appearance: none;
	-webkit-appearance: none;
}

body,
#app,
main {
	width: 100%;
	height: 100%;
}

nav {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    border-bottom: 2px solid #001d1d;
    position: sticky;
    top: 0;
    z-index: 1020;
	background-color: #f7d000;
}

nav #titre {
	font-family: 'HKGrotesk-Black', sans-serif;
    color: #001d1d;
	font-size: 35px;
	font-weight: 400;
	display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 16px;
}

nav .bouton {
	display: inline-block;
	background: #001d1d;
	color: #fff;
	font-weight: 500;
	margin-right: 24px;
	padding: 6px 12px;
	line-height: 1.5;
}

nav .bouton.action  {
    background: #00ced1;
    color: #001d1d;
}

nav .bouton:last-child {
    margin-right: 0;
}

.bouton {
    display: inline-block;
    font-weight: 500;
    color: #001d1d;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bouton.primaire {
    font-weight: 500;
    color: #001d1d;
    background-color: #f7d000;
    border-color: #f7d000;
}

.bouton:active,
.bouton:hover {
	opacity: 0.9;
}

.bouton .material-icons {
	font-size: 24px;
	margin: 0 8px 0 0;
	vertical-align: middle;
}

.bouton span {
	vertical-align: middle;
}

nav .bouton:active,
nav .bouton:hover {
	opacity: 1;
	background: #2b3640;
}

nav .bouton.action:active,
nav .bouton.action:hover {
	opacity: 1;
	background: #02e1e4;
}

.bouton.exporter,
.bouton.editer {
    color: #fff;
    background-color: #777;
    border-color: #777;
    margin-right: 16px;
}

.bouton.supprimer {
    color: #fff;
    background-color: #ff6262;
    border-color: #ff6262;
}

/* Modale
/*******************************************/
.conteneur-modale {
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
	background: #fff;
	width: 90%;
	max-width: 450px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale .onglets,
.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 500;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
}

.modale header .fermer {
	vertical-align: top;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .onglet {
	font-weight: 400;
	color: #aaa;
	text-align: center;
	width: calc(100% / 7);
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.modale .onglet:last-child {
	border-right: 0;
}

.modale .onglet.actif {
	font-weight: 500;
	color: #001d1d;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .onglets + .conteneur {
	padding: 10px;
    height: calc(100% - 90px);
}

.modale .conteneur p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur label:not(.televerser) {
	display: block;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
	user-select: none;
}

.modale .conteneur label.televerser {
	width: 100%;
}

.modale .conteneur input[type="text"] {
	display: block;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0 auto 20px;
	text-align: left;
}

.modale .conteneur input[type="text"]:focus {
	border-color: #001d1d!important;
}

.modale .conteneur .actions {
	text-align: center;
}

.modale .conteneur .actions .bouton {
    padding: 10px 25px;
}

.modale .conteneur .actions .bouton:first-child {
    margin-right: 20px;
}

.modale .conteneur .actions .bouton:last-child {
    margin-right: 0;
}

#conteneur-message.conteneur-modale {
	z-index: 10001;
}

.modale.confirmation,
#message.modale {
	padding: 30px 25px;
	text-align: center;
	max-width: 500px;
}

.modale.confirmation .message,
#message.modale .message {
	font-size: 18px;
	line-height: 1.5;
}

.modale.confirmation .actions,
#message.modale .bouton {
	margin-top: 20px;
}

#progression {
	font-size: 0;
}

progress {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: #00ced1;
	height: 12px;
	font-size: 0;
	line-height: 1;
}

progress::-webkit-progress-bar {
	background-color: #ddd;
}

progress::-webkit-progress-value {
	background-color: #00ced1;
	transition: 0.2s ease-out;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Chargement
/*******************************************/
#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 1000;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
