<template>
	<div id="accueil">
		<nav>
			<span id="titre">Logimix by La Digitale</span>
		</nav>
		<div id="accroche">
			<h1>Bienvenue !</h1>
			<p class="description">Le logiciel <b>Logimix by La Digitale</b> permet de créer des enregistrements et des mixages audio hors ligne sur votre ordinateur.</p>
			<hr>
			<p>Un mixage audio est une combinaison de plusieurs fichiers audio qui peuvent être de natures différentes&nbsp;: voix, bruitage, musique. Ce format est idéal pour la création de projets pédagogiques multimédias&nbsp;: podcast, fiction, mise en scène de textes littéraires, jeux de rôles, etc.</p>
			<span class="bouton primaire" role="button" :tabindex="message === '' && !confirmation ? 0 : -1" @click="creerMixage" @keydown.enter="creerMixage">
				<i class="material-icons">add</i>
				<span>Créer un mixage audio</span>
			</span>
			<label class="bouton primaire televerser" for="televerser" role="button" :tabindex="message === '' && !confirmation ? 0 : -1" @keydown.enter="afficherImporterMixage">
				<i class="material-icons">folder_open</i>
				<span>Importer un mixage audio</span>
			</label>
			<input id="televerser" type="file" accept=".zip" @change="importerMixage" style="display:none;">
		</div>
		<div id="liste" v-if="mixages.length > 0">
			<h2>Mes projets</h2>
			<hr>
			<div id="contenu-liste">
				<div class="mixage" v-for="(mixage, index) in mixages" :key="'mixage_' + index">
					<div class="titre">
						<h5 v-if="mixage.titre !== ''">{{ mixage.titre }}</h5>
						<h5 v-else>Projet non enregistré</h5>
					</div>
					<div class="actions">
						<span class="bouton editer" role="button" :tabindex="message === '' && !confirmation ? 0 : -1" title="Éditer" @click="ouvrirMixage(index)" @keydown.enter="ouvrirMixage(index)"><i class="material-icons">edit</i></span>
						<span class="bouton exporter" role="button" :tabindex="message === '' && !confirmation ? 0 : -1" title="Exporter le projet en .zip" @click="exporterMixage(index)" @keydown.enter="exporterMixage(index)"><i class="material-icons">download</i></span>
						<span class="bouton supprimer" role="button" :tabindex="message === '' && !confirmation ? 0 : -1" title="Supprimer" @click="afficherSupprimerMixage(index)" @keydown.enter="afficherSupprimerMixage(index)"><i class="material-icons">delete</i></span>
					</div>
				</div>
			</div>
		</div>
		<div id="credits">
			<p v-if="miseAjour"><a href="https://ladigitale.dev/logimix/#telecharger" target="_blank" style="color: #00ced1;"><b>Une mise à jour de Logimix est disponible.</b></a></p>
			<p>Logimix v{{ version }}</p>
			<p>Un logiciel proposé par <a href="https://ladigitale.dev/" target="_blank"><u>La Digitale</u></a>. Contact : ez@ladigitale.dev</p>
			<p><a href="https://opencollective.com/ladigitale" target="_blank"><u>Je souhaite apporter mon soutien ❤️.</u></a></p>
		</div>

		<div class="conteneur-modale" v-if="confirmation">
			<div class="modale confirmation" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<div class="message">Souhaitez-vous vraiment supprimer ce projet&nbsp;?</div>
						<div class="actions">
							<span class="bouton primaire" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleConfirmation" @keydown.enter="fermerModaleConfirmation">Non</span>
							<span class="bouton primaire" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerMixage" @keydown.enter="supprimerMixage">Oui</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import fileSaver from 'file-saver'
const { saveAs } = fileSaver

export default {
	name: 'Accueil',
	data () {
		return {
			confirmation: false,
			indexMixage: -1,
			miseAjour: false,
			elementPrecedent: null
		}
	},
	computed: {
		version () {
			return this.$store.state.version
		},
		chemin () {
			return this.$store.state.chemin
		},
		message () {
			return this.$store.state.message
		},
		mixages () {
			return this.$store.state.mixages
		}
	},
	created () {
		this.verifierVersion()
	},
	mounted () {
		document.addEventListener('keydown', this.gererClavier)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier)
	},
	methods: {
		verifierVersion () {
			const chaine = Math.round(Math.random() * 10000)
			axios.get('https://ladigitale.dev/logimix/version.php?v=' + chaine).then(function (reponse) {
				const version = reponse.data
				if (version !== this.version) {
					this.miseAjour = true
				} else {
					this.miseAjour = false
				}
			}.bind(this))
		},
		creerMixage () {
			const id = Math.random().toString(16).slice(3)
			this.$router.push('/mixage/' + id)
		},
		afficherImporterMixage () {
			document.querySelector('#televerser').click()
		},
		importerMixage () {
			const champ = document.querySelector('#televerser')
			const extension = champ.files[0].name.substring(champ.files[0].name.lastIndexOf('.') + 1).toLowerCase()
			if (champ.files && champ.files[0] && extension === 'zip') {
				this.$store.dispatch('modifierChargement', true)
				const formulaire = new FormData()
				formulaire.append('fichier', champ.files[0])
				axios.post(this.chemin + '/api/importer-mixage', formulaire, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(function (reponse) {
					const donnees = reponse.data
					if (donnees === 'erreur') {
						this.$store.dispatch('modifierMessage', 'Erreur lors de l\'import du projet.')
					} else {
						this.$store.dispatch('enregistrerMixage', donnees)
						this.$store.dispatch('modifierInformation', 'Projet importé.')
					}
					this.$store.dispatch('modifierChargement', false)
				}.bind(this)).catch(function () {
					this.$store.dispatch('modifierChargement', false)
					this.$store.dispatch('modifierMessage', 'Erreur lors de l\'import du projet.')
				}.bind(this))
			} else {
				this.$store.dispatch('modifierMessage', 'Seuls les fichiers .zip sont acceptés.')
				champ.value = ''
			}
		},
		ouvrirMixage (index) {
			const id = this.mixages[index].id
			this.$router.push('/mixage/' + id)
		},
		exporterMixage (index) {
			const donnees = this.mixages[index]
			const id = donnees.id
			let titre = 'mixage_' + id
			if (donnees.titre !== '') {
				titre = donnees.titre
			}
			this.$store.dispatch('modifierChargement', true)
			axios.post(this.chemin + '/api/exporter-mixage', {
				mixage: id,
				donnees: donnees
			}).then(function (reponse) {
				if (reponse.data === 'erreur') {
					this.$store.dispatch('modifierMessage', 'Erreur lors de l\'export du projet.')
				} else if (reponse.data === 'mixage_exporte') {
					saveAs(this.chemin + '/temp/' + id + '.zip', titre + '.zip')
					this.$store.dispatch('modifierInformation', 'Projet exporté.')
				}
				this.$store.dispatch('modifierChargement', false)
			}.bind(this)).catch(function () {
				this.$store.dispatch('modifierChargement', false)
				this.$store.dispatch('modifierMessage', 'Erreur lors de l\'export du projet.')
			}.bind(this))
		},
		afficherSupprimerMixage (index) {
			this.indexMixage = index
			this.elementPrecedent = (document.activeElement || document.body)
			this.confirmation = true
			this.$nextTick(function () {
				document.querySelector('.modale.confirmation .bouton').focus()
			})
		},
		supprimerMixage () {
			const index = this.indexMixage
			const id = this.mixages[index].id
			this.fermerModaleConfirmation()
			this.$store.dispatch('modifierChargement', true)
			axios.post(this.chemin + '/api/supprimer-mixage', {
				mixage: id
			}).then(function (reponse) {
				if (reponse.data === 'mixage_supprime' || reponse.data === 'erreur') {
					this.$store.dispatch('supprimerMixage', index)
					this.$store.dispatch('modifierInformation', 'Projet supprimé.')
				}
				this.$store.dispatch('modifierChargement', false)
			}.bind(this)).catch(function () {
				this.$store.dispatch('modifierChargement', false)
				this.$store.dispatch('modifierMessage', 'Erreur lors de la suppression du projet.')
			}.bind(this))
		},
		fermerModaleConfirmation () {
			this.confirmation = false
			this.indexMixage = -1
			this.gererFocus()
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.message !== '') {
				this.$store.dispatch('modifierMessage', '')
			} else if (event.key === 'Escape' && this.confirmation) {
				this.fermerModaleConfirmation()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		}
	}
}
</script>

<style scoped>
p {
    margin-top: 0;
	margin-bottom: 16px;
	font-weight: 400;
}

p.description {
    font-size: 20px;
	font-weight: 400;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#liste hr {
	border-top: 1px solid #f7d000;
	margin-top: 20px;
    margin-bottom: 32px;
}

#accroche {
	margin: 40px 32px;
	padding: 32px;
	background-color: #f7f7f7;
    border-radius: 5px;
	box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#accroche h1 {
    font-size: 43px;
    font-weight: 400;
    line-height: 1.2;
	margin-top: 0;
	margin-bottom: 8px;
	text-indent: -4px;
}

#accroche .bouton {
	margin-top: 8px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 10px 25px;
}

#accroche .bouton.primaire.televerser {
    margin-left: 24px;
}

#liste {
	margin: 32px 32px 64px;
}

#liste h2 {
    font-size: 28px;
	margin-top: 0;
	margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
}

#liste h5 {
    font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

#contenu-liste {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

#liste .mixage {
    position: relative;
	display: flex;
	align-items: center;
	width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
	box-sizing: border-box;
	margin-bottom: 18px;
}

#liste .mixage:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#liste .mixage:last-child {
    border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 0;
}

#liste .mixage .titre {
    margin-right: auto;
	padding: 5px 8px;
	display: inline-block;
}

#liste .mixage .actions {
	padding: 5px 8px;
}

#liste .mixage .actions .bouton {
	line-height: 1;
}

#liste .mixage .bouton i {
	margin: 0;
}

#credits {
	padding: 0 32px 64px;
	color: #777;
}

#credits a {
	color: #777;
}

@media screen and (min-width: 1449px) {
	#accroche {
		margin: 50px 32px;
	}
}
</style>
