<template>
	<div id="mixage">
		<nav>
			<span id="titre">Logimix<span v-show="largeur > 1024"> by La Digitale</span></span>
			<span id="titre-mixage" role="button" :tabindex="definirTabIndex()" v-if="mixage.titre !== ''" @click="afficherModifierTitre" @keydown.enter="afficherModifierTitre">
				<span>{{ mixage.titre }}</span>
				<i class="material-icons">edit</i>
			</span>
			<div class="actions">
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="sortir" @keydown.enter="sortir">Mes projets</span>
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="enregistrer" @keydown.enter="enregistrer" v-if="mixage.donnees.length > 0">Enregistrer</span>
				<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="exporter" @keydown.enter="exporter" v-if="mixage.donnees.length > 0">Exporter audio</span>
			</div>
		</nav>

		<div id="outils" v-if="mixage.donnees.length > 0">
			<div class="outils">
				<span id="defaire" class="outil" role="button" :tabindex="definirTabIndex()" title="Défaire" @click="defaire" @keydown.enter="defaire">
					<i class="material-icons">undo</i>
				</span>
				<span id="refaire" class="outil" role="button" :tabindex="definirTabIndex()" title="Refaire" @click="refaire" @keydown.enter="refaire">
					<i class="material-icons">redo</i>
				</span>
			</div>

			<div class="outils">
				<span id="lecture" class="outil" :class="{'actif': lecture}" role="button" :tabindex="definirTabIndex()" title="Lecture" @click="selectionnerOutil('lecture')" @keydown.enter="selectionnerOutil('lecture')">
					<i class="material-icons">play_arrow</i>
				</span>
				<span id="pause" class="outil" :class="{'actif': pause}" role="button" :tabindex="definirTabIndex()" title="Pause" @click="selectionnerOutil('pause')" @keydown.enter="selectionnerOutil('pause')">
					<i class="material-icons">pause</i>
				</span>
				<span id="stop" class="outil" role="button" :tabindex="definirTabIndex()" title="Stop" @click="selectionnerOutil('stop')" @keydown.enter="selectionnerOutil('stop')">
					<i class="material-icons">stop</i>
				</span>
				<span id="aller-debut" class="outil" role="button" :tabindex="definirTabIndex()" title="Aller au début" @click="selectionnerOutil('aller-debut')" @keydown.enter="selectionnerOutil('aller-debut')">
					<i class="material-icons">skip_previous</i>
				</span>
				<span id="aller-fin" class="outil" role="button" :tabindex="definirTabIndex()" title="Aller à la fin" @click="selectionnerOutil('aller-fin')" @keydown.enter="selectionnerOutil('aller-fin')">
					<i class="material-icons">skip_next</i>
				</span>
			</div>

			<div class="outils">
				<span id="zoomer" class="outil" role="button" :tabindex="definirTabIndex()" title="Zoomer" @click="selectionnerOutil('zoomer')" @keydown.enter="selectionnerOutil('zoomer')">
					<i class="material-icons">zoom_in</i>
				</span>
				<span id="dezoomer" class="outil" role="button" :tabindex="definirTabIndex()" title="Dézoomer" @click="selectionnerOutil('dezoomer')" @keydown.enter="selectionnerOutil('dezoomer')">
					<i class="material-icons">zoom_out</i>
				</span>
			</div>

			<div class="outils">
				<span id="curseur" class="outil" :class="{'actif': outil === 'curseur'}" role="button" :tabindex="definirTabIndex()" title="Curseur" @click="selectionnerOutil('curseur')" @keydown.enter="selectionnerOutil('curseur')">
					<i class="material-icons">remove</i>
				</span>
				<span id="selectionner" class="outil" :class="{'actif': outil === 'selection'}" role="button" :tabindex="definirTabIndex()" title="Sélectionner" @click="selectionnerOutil('selectionner')" @keydown.enter="selectionnerOutil('selectionner')">
					<i class="material-icons">space_bar</i>
				</span>
				<span id="deplacer" class="outil" :class="{'actif': outil === 'deplacement'}" role="button" :tabindex="definirTabIndex()" title="Déplacer" @click="selectionnerOutil('deplacer')" @keydown.enter="selectionnerOutil('deplacer')">
					<i class="material-icons">swap_horiz</i>
				</span>
				<span id="boucler" class="outil" :class="{'actif': boucle}" role="button" :tabindex="definirTabIndex()" title="Lire en boucle" @click="selectionnerOutil('boucler')" @keydown.enter="selectionnerOutil('boucler')">
					<i class="material-icons">replay</i>
				</span>
				<span id="fondu-entrant" class="outil" :class="{'actif': outil === 'fondu-entrant'}" role="button" :tabindex="definirTabIndex()" title="Fondu d'entrée" @click="selectionnerOutil('fondu-entrant')" @keydown.enter="selectionnerOutil('fondu-entrant')">
					<i class="material-icons">signal_cellular_null</i>
				</span>
				<span id="fondu-sortant" class="outil" :class="{'actif': outil === 'fondu-sortant'}" role="button" :tabindex="definirTabIndex()" title="Fondu de sortie" @click="selectionnerOutil('fondu-sortant')" @keydown.enter="selectionnerOutil('fondu-sortant')">
					<i class="material-icons">signal_cellular_null</i>
				</span>
				<span id="supprimer-fondus" class="outil" :class="{'actif': outil === 'suppression-fondus'}" role="button" :tabindex="definirTabIndex()" title="Supprimer les fondus" @click="selectionnerOutil('suppression-fondus')" @keydown.enter="selectionnerOutil('suppression-fondus')">
					<i class="material-icons">signal_cellular_off</i>
				</span>
			</div>

			<div class="outils" v-if="outil === 'selection' && debut < fin">
				<span id="rogner" class="outil" role="button" :tabindex="definirTabIndex()" title="Rogner autour de la sélection" @click="selectionnerOutil('rogner')" @keydown.enter="selectionnerOutil('rogner')">
					<i class="material-icons">graphic_eq</i>
				</span>
				<span id="couper" class="outil" role="button" :tabindex="definirTabIndex()" title="Supprimer la sélection" @click="selectionnerOutil('couper')" @keydown.enter="selectionnerOutil('couper')">
					<i class="material-icons">content_cut</i>
				</span>
			</div>

			<div class="outils" v-if="debut > 0 && !lecture">
				<span id="separer" class="outil" role="button" :tabindex="definirTabIndex()" title="Séparer la piste au curseur" @click="selectionnerOutil('separer')" @keydown.enter="selectionnerOutil('separer')">
					<i class="material-icons">splitscreen</i>
				</span>
			</div>
			
			<div class="outils">
				<span id="temps">{{ temps }}</span>
			</div>
		</div>

		<div id="conteneur" v-show="mixage.donnees.length > 0">
			<div id="editeur" tabindex="-1" />
		</div>

		<div id="vide" v-if="mixage.donnees.length === 0">
			<span class="texte">Pour commencer, <u>ajoutez un son de la sonothèque</u>, <u>ajoutez un fichier (audio ou  vidéo)</u> depuis votre ordinateur ou <u>enregistrez votre voix</u> en utilisant les boutons situés en bas de la fenêtre.</span>
			<span class="icone material-icons">search</span>
		</div>

		<footer>
			<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="afficherSonotheque()" @keydown.enter="afficherSonotheque()">Afficher la sonothèque</span>
			<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="afficherAjouterFichier()" @keydown.enter="afficherAjouterFichier()">Ajouter un fichier</span>
			<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="afficherEnregistrer()" @keydown.enter="afficherEnregistrer()">Enregistrer sa voix</span>
		</footer>

		<div class="conteneur-modale" v-if="modale === 'sonotheque'">
			<div id="sonotheque" class="modale" role="dialog">
				<header>
					<span class="titre">Sonothèque</span>
					<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleSonotheque" @keydown.enter="fermerModaleSonotheque"><i class="material-icons">close</i></span>
				</header>
				<div class="onglets">
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'animaux'}" @click="afficherOnglet('animaux')" @keydown.enter="afficherOnglet('animaux')">Animaux</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'bruitages'}" @click="afficherOnglet('bruitages')" @keydown.enter="afficherOnglet('bruitages')">Bruitages</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'lieux'}" @click="afficherOnglet('lieux')" @keydown.enter="afficherOnglet('lieux')">Lieux</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'personnes'}" @click="afficherOnglet('personnes')" @keydown.enter="afficherOnglet('personnes')">Personnes</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'transports'}" @click="afficherOnglet('transports')" @keydown.enter="afficherOnglet('transports')">Transports</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'musique'}" @click="afficherOnglet('musique')" @keydown.enter="afficherOnglet('musique')">Musique</span>
					<span class="onglet" role="button" :tabindex="definirTabIndexModale()" :class="{'actif': onglet === 'mes-fichiers'}" @click="afficherOnglet('mes-fichiers')" @keydown.enter="afficherOnglet('mes-fichiers')">Mes fichiers</span>
				</div>
				<div class="conteneur">
					<div class="contenu">
						<div class="categorie">
							<div class="sons" v-if="onglet === 'animaux'">
								<div class="son" v-for="(item, index) in animaux" :key="'animal_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'bruitages'">
								<div class="son" v-for="(item, index) in bruitages" :key="'bruitage_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'lieux'">
								<div class="son" v-for="(item, index) in lieux" :key="'lieu_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'musique'">
								<div class="son" v-for="(item, index) in musique" :key="'musique_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'personnes'">
								<div class="son" v-for="(item, index) in personnes" :key="'personne_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'transports'">
								<div class="son" v-for="(item, index) in transports" :key="'transport_' + index">
									<span class="titre">{{ item.titre }}</span>
									<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index"><i class="material-icons">play_arrow</i></span>
									<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
									<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterAudio(item.audio, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
									<a class="source" :href="item.source" target="_blank" title="Afficher la source">Source</a>
								</div>
							</div>
							<div class="sons" v-else-if="onglet === 'mes-fichiers'">
								<template v-if="fichiers.length > 0">
									<div class="son" v-for="(item, index) in fichiers" :key="'fichier_' + index">
										<span class="titre">{{ item.titre }}</span>
										<span class="lire" role="button" :tabindex="definirTabIndexModale()" @click="lireAudio(item.audio, index)" @keydown.enter="lireAudio(item.audio, index)" v-if="indexAudio !== index || confirmation"><i class="material-icons">play_arrow</i></span>
										<span class="stopper" role="button" :tabindex="definirTabIndexModale()" @click="stopperAudio" v-else-if="lectureAudio && indexAudio === index"><i class="material-icons">stop</i></span>
										<span class="ajouter" role="button" :tabindex="definirTabIndexModale()" @click="ajouterFichierAudio(item.fichier, item.titre)" @keydown.enter="ajouterAudio(item.audio, item.titre)"><i class="material-icons">add</i></span>
										<span class="supprimer" role="button" :tabindex="definirTabIndexModale()" @click="afficherSupprimerAudio(index)" @keydown.enter="afficherSupprimerAudio(index)"><i class="material-icons">delete</i></span>
									</div>
								</template>
								<div id="fichiers-vide" v-else>
									Aucun fichier pour le moment.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'televerser'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre" v-if="progression === 0">Ajouter un fichier</span>
					<span class="titre" v-else>Chargement en cours…</span>
					<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleTeleverser" @keydown.enter="fermerModaleTeleverser" v-if="progression === 0"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="ajouter-fichier" v-if="progression === 0">
							<label for="champ-nom-fichier">Nom du fichier</label>
							<input id="champ-nom-fichier" type="text" class="nom-fichier" v-model="fichier">
							<label>Formats autorisés : mp3, wav, m4a, ogg, mp4</label>
							<div class="actions">
								<label for="televerser" class="bouton primaire televerser" role="button" :tabindex="definirTabIndexModale()" @keydown.enter="activerInput('televerser')">Sélectionner un fichier</label>
								<input id="televerser" type="file" accept="audio/*, video/*" @change="televerser" style="display: none;">
							</div>
						</div>
						<div id="progression" v-else>
							<progress :value="progression" max="100">{{ progression }} %</progress>
						</div>
					</div>
				</div>
			</div>
		</div>

		<enregistrer :mixage="mixage" v-else-if="modale === 'enregistrer'" />

		<div class="conteneur-modale" v-else-if="modale === 'titre'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre" v-if="mixage.titre === ''">Enregistrer le projet</span>
					<span class="titre" v-else>Modifier le nom du projet</span>
					<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleTitre" @keydown.enter="fermerModaleTitre"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="champ-titre-mixage">Nom du projet</label>
						<input id="champ-titre-mixage" class="titre-mixage" type="text" v-model="titre" @keydown.enter="modifierTitre">
						<div class="actions">
							<span class="bouton primaire" role="button" :tabindex="definirTabIndexModale()" @click="modifierTitre" @keydown.enter="modifierTitre">Valider</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'titre-piste'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">Modifier le nom de la piste</span>
					<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleTitrePiste" @keydown.enter="fermerModaleTitrePiste"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="champ-titre-piste">Nom de la piste</label>
						<input id="champ-titre-piste" type="text" v-model="titrePiste" @keydown.enter="modifierTitrePiste">
						<div class="actions">
							<span class="bouton primaire" role="button" :tabindex="definirTabIndexModale()" @click="modifierTitrePiste" @keydown.enter="modifierTitrePiste">Valider</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="confirmation">
			<div class="modale confirmation" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<div class="message">Souhaitez-vous vraiment supprimer ce fichier audio&nbsp;?</div>
						<div class="actions">
							<span class="bouton primaire" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleConfirmation" @keydown.enter="fermerModaleConfirmation">Non</span>
							<span class="bouton primaire" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerAudio" @keydown.enter="supprimerAudio">Oui</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import { saveAs } from 'file-saver'
import Sortable from 'sortablejs'
import enregistrer from '@/components/enregistrer.vue'
import animaux from '@/sounds/animaux.json'
import bruitages from '@/sounds/bruitages.json'
import lieux from '@/sounds/lieux.json'
import musique from '@/sounds/musique.json'
import personnes from '@/sounds/personnes.json'
import transports from '@/sounds/transports.json'

export default {
	name: 'Mixage',
	components: {
		enregistrer
	},
	data () {
		return {
			mixage: {
				id: '',
				titre: '',
				donnees: []
			},
			editeur: '',
			outil: 'curseur',
			lecture: false,
			debut: 0,
			fin: 0,
			temps: '',
			titre: '',
			modale: '',
			audio: '',
			fichier: '',
			progression: 0,
			onglet: 'animaux',
			confirmation: false,
			indexAudio: -1,
			lectureAudio: false,
			pause: false,
			boucle: false,
			lectureEnBoucle: '',
			sortable: '',
			animaux,
			bruitages,
			lieux,
			musique,
			personnes,
			transports,
			historique: [],
			positionHistorique: 0,
			positionActuelleHistorique: 0,
			chrono: '',
			defilement: false,
			depart: 0,
			distance: 0,
			defilementActive: false,
			largeur: 0,
			titrePiste: '',
			indexTitrePiste: -1,
			chrono: '',
			elementPrecedent: null
		}
	},
	computed: {
		chemin () {
			return this.$store.state.chemin
		},
		message () {
			return this.$store.state.message
		},
		mixages () {
			return this.$store.state.mixages
		},
		fichiers () {
			return this.$store.state.fichiers
		}
	},
	beforeRouteEnter (to, from, next) {
		next(vm => {
			vm.$store.dispatch('modifierChargement', true)
		})
	},
	created () {
		const id = this.$route.params.id
		const mixage = this.mixages.filter(function (mixage) {
			return mixage.id === id
		}.bind(this))
		if (mixage[0] && Object.keys(mixage[0]).length > 0) {
			this.mixage.id = mixage[0].id
			this.mixage.titre = mixage[0].titre
			this.mixage.donnees = mixage[0].donnees
		} else {
			this.mixage.id = id
		}
	},
	mounted () {
		this.largeur = document.querySelector('#app').clientWidth
		// eslint-disable-next-line
		this.editeur = WaveformPlaylist.init({
			ac: new (window.AudioContext || window.webkitAudioContext)(),
			sampleRate: 44100,
			samplesPerPixel: 3000,
			mono: true,
			waveHeight: 130,
			container: document.querySelector('#editeur'),
			state: 'cursor',
			states: {
				cursor: true,
				fadein: true,
				fadeout: true,
				select: true,
				shift: true,
				clear: true
			},
			colors: {
				waveOutlineColor: '#ffffff',
				timeColor: '#808080',
				fadeColor: '#001d1d'
			},
			timescale: true,
			controls: {
				show: true,
				width: 156
			},
			seekStyle : 'line',
			isAutomaticScroll: true,
			zoomLevels: [500, 1000, 3000, 4500, 7000, 9500, 12000]
		})

		if (this.mixage.donnees.length > 0) {
			this.mixage.donnees.forEach(function (piste) {
				const chemin = 'http://' + piste.src.split('/')[2]
				piste.src = piste.src.replace(chemin, this.chemin)
			}.bind(this))
			this.editeur.load(this.mixage.donnees).then(function () {
				this.$store.dispatch('modifierChargement', false)
				this.initialiserEditeur()
				this.modifierSelection(this.debut, this.fin)
				this.modifierTemps(0)
				this.$nextTick(function () {
					this.activerDefilementHorizontal()
					if (document.querySelector('.playlist-overlay')) {
						const largeur = document.querySelector('.playlist-overlay').clientWidth
						const pistes = document.querySelectorAll('.channel-wrapper')
						pistes.forEach(function (p) {
							p.style.width = largeur + 'px'
						})
					}
					this.editeur.getEventEmitter().emit('select', this.debut, this.debut)
				}.bind(this))
			}.bind(this))
		} else {
			setTimeout(function () {
				this.$store.dispatch('modifierChargement', false)
				this.initialiserEditeur()
			}.bind(this), 400)
		}

		window.addEventListener('beforeunload', this.enregistrerBrouillon)

		window.addEventListener('resize', function () {
			this.largeur = document.querySelector('#app').clientWidth
		}.bind(this))
	},
	beforeUnmount () {
		if (this.defilementActive) {
			this.desactiverDefilementHorizontal()
		}
		document.removeEventListener('keydown', this.gererClavier)
		document.querySelector('#editeur').innerHTML = ''
		this.editeur = ''
		window.removeEventListener('beforeunload', this.enregistrerBrouillon)
	},
	methods: {
		initialiserEditeur () {
			this.editeur.getEventEmitter().on('select', this.modifierSelection)
			this.editeur.getEventEmitter().on('timeupdate', this.modifierTemps)
			this.editeur.getEventEmitter().on('removeTrack', this.supprimerPiste)
			this.editeur.getEventEmitter().on('newtrack', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('trim', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('cut', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('split', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('volumechange', this.enregistrerDonneesChrono)
			this.editeur.getEventEmitter().on('stereopan', this.enregistrerDonneesChrono)
			this.editeur.getEventEmitter().on('mute', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('solo', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('fadein', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('fadeout', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('faderemove', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('shift', this.deplacerPiste)
			this.editeur.getEventEmitter().on('changeTrackView', this.modifierAffichagePiste)
			this.editeur.getEventEmitter().on('changeTrackName', this.afficherModifierTitrePiste)
			this.editeur.getEventEmitter().on('audiosourcerendered', this.enregistrerDonnees)
			this.editeur.getEventEmitter().on('audiosourcesrendered', this.chargerPistes)
			this.editeur.getEventEmitter().on('audiorenderingfinished', this.exporterAudio)
			this.editeur.getEventEmitter().on('finished', this.stopperLecture)
			this.editeur.initExporter()
			document.addEventListener('keydown', this.gererClavier)
			this.$nextTick(function () {
				this.sortable = new Sortable(document.querySelector('#editeur .playlist-tracks'), {
					sort: true,
					disabled: false,
					filter: '.stereopan, .volume',
					preventOnFilter: false,
					delay: 0,
					delayOnTouchOnly: false,
					touchStartThreshold: 0,
					animation: 150,
					easing: 'cubic-bezier(1, 0, 0, 1)',
					draggable: '.channel-wrapper',
					handle: '.controls',
					direction: 'vertical',
					onSort: function (event) {
						const donnees = this.editeur.getInfo().tracks
						const piste = donnees[event.oldIndex]
						donnees.splice(event.oldIndex, 1)
						donnees.splice(event.newIndex, 0, piste)
						this.$store.dispatch('modifierChargement', true)
						const distanceScroll = document.querySelector('.playlist-tracks').scrollLeft
						this.editeur.clear()
						this.editeur.load(donnees).then(function () {
							this.$store.dispatch('modifierChargement', false)
							this.mixage.donnees = donnees
							this.$nextTick(function () {
								if (document.querySelector('.playlist-overlay')) {
									document.querySelector('.playlist-tracks').scrollLeft = distanceScroll
									const largeur = document.querySelector('.playlist-overlay').clientWidth
									const pistes = document.querySelectorAll('.channel-wrapper')
									pistes.forEach(function (p) {
										p.style.width = largeur + 'px'
									})
								}
								if (this.debut === this.fin) {
									this.editeur.getEventEmitter().emit('select', this.debut, this.debut)
								} else {
									this.editeur.getEventEmitter().emit('select', this.debut, this.fin)
								}
							}.bind(this))
						}.bind(this))
					}.bind(this)
				})
			}.bind(this))
		},
		definirTabIndex () {
			return this.message === '' && this.modale === '' && !this.confirmation ? 0 : -1
		},
		definirTabIndexModale () {
			return this.message === '' && !this.confirmation ? 0 : -1
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		selectionnerOutil (outil) {
			switch (outil) {
			case 'lecture':
				if (this.lecture === false) {
					this.editeur.getEventEmitter().emit('play')
					this.lecture = true
					this.pause = false
					this.sortable.option('disabled', true)
				} else {
					this.editeur.getEventEmitter().emit('pause')
					this.lecture = false
					this.pause = true
					this.sortable.option('disabled', false)
				}
				this.boucle = false
				this.lectureAudio = ''
				break
			case 'pause':
				this.editeur.getEventEmitter().emit('pause')
				this.lecture = false
				this.pause = true
				this.boucle = false
				this.lectureAudio = ''
				this.sortable.option('disabled', false)
				break
			case 'stop':
				this.editeur.getEventEmitter().emit('stop')
				this.lecture = false
				this.pause = false
				this.boucle = false
				this.lectureAudio = ''
				this.sortable.option('disabled', false)
				break
			case 'aller-debut':
				this.editeur.getEventEmitter().emit('rewind')
				break
			case 'aller-fin':
				this.editeur.getEventEmitter().emit('fastforward')
				break
			case 'curseur':
				this.editeur.getEventEmitter().emit('statechange', 'cursor')
				this.outil = 'curseur'
				break
			case 'selectionner':
				this.editeur.getEventEmitter().emit('statechange', 'select')
				this.outil = 'selection'
				break
			case 'deplacer':
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.editeur.getEventEmitter().emit('statechange', 'shift')
				this.outil = 'deplacement'
				break
			case 'fondu-entrant':
				this.editeur.getEventEmitter().emit('statechange', 'fadein')
				this.editeur.getEventEmitter().emit('fadetype', 'sCurve')
				this.outil = 'fondu-entrant'
				break
			case 'fondu-sortant':
				this.editeur.getEventEmitter().emit('statechange', 'fadeout')
				this.editeur.getEventEmitter().emit('fadetype', 'sCurve')
				this.outil = 'fondu-sortant'
				break
			case 'suppression-fondus':
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.editeur.getEventEmitter().emit('statechange', 'clear')
				this.outil = 'suppression-fondus'
				break
			case 'zoomer':
				this.editeur.getEventEmitter().emit('zoomin')
				break
			case 'dezoomer':
				this.editeur.getEventEmitter().emit('zoomout')
				break
			case 'rogner':
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.editeur.getEventEmitter().emit('trim')
				break
			case 'couper':
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.editeur.getEventEmitter().emit('cut')
				break
			case 'separer':
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.editeur.getEventEmitter().emit('split')
				break
			case 'boucler':
				if (this.debut !== this.fin) {
					this.boucle = true
					this.lecture = true
					this.pause = false
					this.lectureEnBoucle = this.editeur.play(this.debut, this.fin)
					this.sortable.option('disabled', true)
				} else {
					this.$store.dispatch('modifierMessage', 'Veuillez faire une sélection à lire en boucle.')
				}
				break
			}
		},
		modifierSelection (debut, fin) {
			this.debut = debut
			this.fin = fin
		},
		modifierTemps (temps) {
			this.temps = this.formaterTemps(temps)
		},
		formaterTemps (temps) {
			let heures, minutes, secondes
			heures = parseInt(temps / 3600, 10) % 24
			minutes = parseInt(temps / 60, 10) % 60
			secondes = temps % 60
			secondes = secondes.toFixed(3)
			return (heures < 10 ? '0' + heures : heures) + ':' + (minutes < 10 ? '0' + minutes : minutes) + ':' + (secondes < 10 ? '0' + secondes : secondes)
		},
		stopperLecture () {
			this.lecture = false
			if (this.boucle) {
				this.lectureEnBoucle.then(function () {
					if (this.boucle) {
						this.lecture = true
						this.pause = false
						this.lectureEnBoucle = this.editeur.play(this.debut, this.fin)
						this.sortable.option('disabled', true)
					}
				}.bind(this))
			}
		},
		chargerPistes () {
			this.$store.dispatch('modifierChargement', false)
			this.mixage.donnees = this.editeur.getInfo().tracks
			if (this.mixage.donnees.length === 1) {
				this.debut = 0
				this.fin = 0
				this.modifierSelection(this.debut, this.fin)
				this.modifierTemps(0)
			}
			this.$nextTick(function () {
				if (!this.defilementActive) {
					this.activerDefilementHorizontal()
				}
				if (document.querySelector('.playlist-overlay')) {
					const largeur = document.querySelector('.playlist-overlay').clientWidth
					const pistes = document.querySelectorAll('.channel-wrapper')
					pistes.forEach(function (p) {
						p.style.width = largeur + 'px'
					})
				}
			}.bind(this))
		},
		deplacerPiste () {
			if (this.chrono !== '') {
				clearTimeout(this.chrono)
				this.chrono = ''
			}
			this.chrono = setTimeout(function () {
				this.$nextTick(function () {
					if (document.querySelector('.playlist-overlay')) {
						const largeur = document.querySelector('.playlist-overlay').clientWidth
						const pistes = document.querySelectorAll('.channel-wrapper')
						pistes.forEach(function (p) {
							p.style.width = largeur + 'px'
						})
					}
				}.bind(this))
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.chrono = ''
			}.bind(this), 300)
		},
		supprimerPiste (piste, solo) {
			if (solo === true) {
				this.editeur.soloTrack(piste)
			}
			const index = this.editeur.tracks.indexOf(piste)
			this.editeur.tracks = this.editeur.tracks.filter(function (track, i) {
				if (i === index) {
					track.scheduleStop()
				}
				return i !== index
			})
			this.editeur.adjustDuration()
			this.editeur.draw(this.editeur.render())
			if (this.defilementActive && this.editeur.getInfo().tracks.length === 0) {
				this.desactiverDefilementHorizontal()
			}
			this.mixage.donnees = this.editeur.getInfo().tracks
			this.enregistrerDonnees()
			this.$nextTick(function () {
				if (document.querySelector('.playlist-overlay')) {
					const largeur = document.querySelector('.playlist-overlay').clientWidth
					const pistes = document.querySelectorAll('.channel-wrapper')
					pistes.forEach(function (p) {
						p.style.width = largeur + 'px'
					})
				}
			})
		},
		modifierAffichagePiste (piste) {
			this.mixage.donnees = this.editeur.getInfo().tracks
			this.enregistrerDonnees()
			if ((piste.hasOwnProperty('fadeIn') && piste.fadeIn !== '') || (piste.hasOwnProperty('fadeOut') && piste.fadeOut !== '')) {
				this.$store.dispatch('modifierChargement', true)
				const distanceScroll = document.querySelector('.playlist-tracks').scrollLeft
				if (this.boucle === true) {
					this.boucle = false
					this.lectureEnBoucle = ''
				}
				if (this.lecture === true) {
					this.editeur.getEventEmitter().emit('pause')
					this.lecture = false
					this.pause = true
				}
				this.editeur.clear()
				this.editeur.load(this.mixage.donnees).then(function () {
					this.$store.dispatch('modifierChargement', false)
					this.$nextTick(function () {
						if (document.querySelector('.playlist-overlay')) {
							document.querySelector('.playlist-tracks').scrollLeft = distanceScroll
							const largeur = document.querySelector('.playlist-overlay').clientWidth
							const pistes = document.querySelectorAll('.channel-wrapper')
							pistes.forEach(function (p) {
								p.style.width = largeur + 'px'
							})
						}
						if (this.debut === this.fin) {
							this.editeur.getEventEmitter().emit('select', this.debut, this.debut)
						} else {
							this.editeur.getEventEmitter().emit('select', this.debut, this.fin)
						}
					}.bind(this))
				}.bind(this))
			}
		},
		afficherSonotheque () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'sonotheque'
			this.$nextTick(function () {
				document.querySelector('#sonotheque .onglet').focus()
			})
		},
		afficherOnglet (onglet) {
			this.stopperAudio()
			this.onglet = onglet
		},
		lireAudio (audio, index) {
			if (audio.includes('/projets/' + this.mixage.id + '/') === true) {
				audio = audio.replace('/projets/' + this.mixage.id + '/', '/fichiers/')
			}
			if (audio.includes('http://') === true) {
				const chemin = 'http://' + audio.split('/')[2]
				audio = audio.replace(chemin, this.chemin)
			}
			this.stopperAudio()
			this.audio = new Audio(audio)
			this.audio.play()
			this.lectureAudio = true
			this.indexAudio = index
			this.audio.onended = function () {
				this.audio = ''
				this.indexAudio = -1
				this.lectureAudio = false
			}.bind(this)
		},
		stopperAudio () {
			if (this.audio !== '') {
				this.audio.pause()
				this.audio = ''
				this.indexAudio = -1
				this.lectureAudio = false
			}
		},
		ajouterAudio (audio, titre) {
			this.editeur.getEventEmitter().emit('pause')
			this.editeur.getEventEmitter().emit('newtrack', audio, titre)
			this.$store.dispatch('modifierChargement', true)
			this.fermerModaleSonotheque()
		},
		afficherAjouterFichier () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'televerser'
			this.$nextTick(function () {
				document.querySelector('.modale .nom-fichier').focus()
			}.bind(this))
		},
		ajouterFichierAudio (fichier, titre) {
			this.fermerModaleSonotheque()
			this.editeur.getEventEmitter().emit('pause')
			this.$store.dispatch('modifierChargement', true)
			axios.post(this.chemin + '/api/copier-audio', {
				mixage: this.mixage.id,
				fichier: fichier
			}).then(function (reponse) {
				if (reponse.data === 'espace_insuffisant') {
					this.$store.dispatch('modifierChargement', false)
					this.$store.dispatch('modifierMessage', 'Espace insuffisant sur votre ordinateur.')
				} else if (reponse.data === 'audio_copie') {
					const audio = this.chemin + '/projets/' + this.mixage.id + '/' + fichier
					this.editeur.getEventEmitter().emit('newtrack', audio, titre)
				}
			}.bind(this)).catch(function () {
				this.$store.dispatch('modifierChargement', false)
				this.$store.dispatch('modifierMessage', 'Erreur lors de l\'ajout du fichier audio.')
			}.bind(this))
		},
		afficherSupprimerAudio (index) {
			this.stopperAudio()
			this.indexAudio = index
			this.confirmation = true
			this.$nextTick(function () {
				document.querySelector('.modale.confirmation .bouton').focus()
			}.bind(this))
		},
		supprimerAudio () {
			const index = this.indexAudio
			const fichier = this.fichiers[index].fichier
			this.fermerModaleConfirmation()
			this.$store.dispatch('modifierChargement', true)
			axios.post(this.chemin + '/api/supprimer-audio', {
				fichier: fichier
			}).then(function (reponse) {
				if (reponse.data === 'audio_supprime' || reponse.data === 'erreur') {
					this.$store.dispatch('modifierChargement', false)
					this.$store.dispatch('supprimerFichier', index)
					this.$store.dispatch('modifierInformation', 'Fichier audio supprimé.')
				}
			}.bind(this)).catch(function () {
				this.$store.dispatch('modifierChargement', false)
				this.$store.dispatch('modifierMessage', 'Erreur lors de la suppression du fichier.')
			}.bind(this))
		},
		fermerModaleConfirmation () {
			this.confirmation = false
			this.indexAudio = -1
		},
		afficherEnregistrer () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'enregistrer'
			this.$nextTick(function () {
				document.querySelector('#enregistrer .bouton.enregistrer').focus()
			})
		},
		televerser () {
			const champ = document.querySelector('#televerser')
			const chemin = champ.value
			const ext = chemin.substring(chemin.lastIndexOf('.') + 1).toLowerCase()
			if (champ.files && champ.files[0] && (ext === 'mp3' || ext === 'wav' || ext === 'm4a' || ext === 'ogg' || ext === 'mp4')) {
				if (this.fichier !== '') {
					const formulaire = new FormData()
					formulaire.append('mixage', this.mixage.id)
					formulaire.append('fichier', champ.files[0], 'fichier-audio.' + ext)
					axios.post(this.chemin + '/api/enregistrer-audio', formulaire, {
						headers: {
							'Content-Type': 'multipart/form-data'
						},
						onUploadProgress: function (progression) {
							const pourcentage = parseInt(Math.round((progression.loaded * 100) / progression.total))
							this.progression = pourcentage
						}.bind(this)
					}).then(function (reponse) {
						if (reponse.data === 'espace_insuffisant') {
							champ.value = ''
							this.progression = 0
							this.$store.dispatch('modifierMessage', 'Espace insuffisant sur votre ordinateur.')
						} else {
							const audio = this.chemin + '/fichiers/' + reponse.data
							const audioProjet = this.chemin + '/projets/' + this.mixage.id + '/' + reponse.data
							this.$store.dispatch('ajouterFichier', { titre: this.fichier, audio: audio, fichier: reponse.data })
							this.ajouterAudio(audioProjet, this.fichier)
							champ.value = ''
							this.fermerModaleTeleverser()
						}
					}.bind(this)).catch(function () {
						champ.value = ''
						this.fermerModaleTeleverser()
						this.$store.dispatch('modifierMessage', 'Erreur lors du chargement du fichier.')
					}.bind(this))
				} else {
					champ.value = ''
					this.$store.dispatch('modifierMessage', 'Veuillez indiquer un nom pour le fichier.')
				}
			} else {
				champ.value = ''
				this.$store.dispatch('modifierMessage', 'Ce format de fichier n\'est pas accepté. Seuls les fichiers au format mp3, wav, m4a, ogg et mp4 sont autorisés.')
			}
		},
		fermerModaleTeleverser () {
			this.modale = ''
			this.fichier = ''
			this.progression = 0
			this.gererFocus()
		},
		fermerModaleSonotheque () {
			this.modale = ''
			this.stopperAudio()
			this.gererFocus()
		},
		enregistrer () {
			if (this.mixage.titre !== '') {
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.$store.dispatch('enregistrerMixage', this.mixage)
				this.$store.dispatch('modifierChargement', false)
				this.$store.dispatch('modifierInformation', 'Paramètres du mixage enregistrés.')
			} else {
				this.modale = 'titre'
				this.$nextTick(function () {
					document.querySelector('.modale .titre-mixage').focus()
				})
			}
		},
		enregistrerDonnees () {
			const donnees = this.editeur.getInfo().tracks
			if ((JSON.stringify(donnees) !== JSON.stringify(this.historique[this.historique.length - 1])) && this.positionActuelleHistorique === 0) {
				this.historique.push(donnees)
				this.positionHistorique += 1
			} else if ((JSON.stringify(donnees) !== JSON.stringify(this.historique[this.historique.length - 1])) && this.positionActuelleHistorique !== 0) {
				const historique = []
				for (let i = 0; i < this.positionActuelleHistorique; i++) {
					historique.push(this.historique[i])
				}
				historique.push(donnees)
				this.historique = historique
				this.positionHistorique = this.positionActuelleHistorique + 1
				this.positionActuelleHistorique = 0
			}
		},
		enregistrerDonneesChrono () {
			if (this.chrono !== '') {
				clearTimeout(this.chrono)
				this.chrono = ''
			}
			this.chrono = setTimeout(function () {
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.chrono = ''
			}.bind(this), 300)
		},
		defaire () {
			if (this.positionHistorique === 0) {
				return
			}
			this.positionHistorique -= 1
			this.positionActuelleHistorique = this.positionHistorique
			const donnees = this.historique[this.positionHistorique]
			if (donnees && donnees.length > 0) {
				this.$store.dispatch('modifierChargement', true)
				const distanceScroll = document.querySelector('.playlist-tracks').scrollLeft
				this.editeur.clear()
				this.editeur.load(donnees).then(function () {
					this.$store.dispatch('modifierChargement', false)
					this.mixage.donnees = donnees
					this.$nextTick(function () {
						if (document.querySelector('.playlist-overlay')) {
							document.querySelector('.playlist-tracks').scrollLeft = distanceScroll
							const largeur = document.querySelector('.playlist-overlay').clientWidth
							const pistes = document.querySelectorAll('.channel-wrapper')
							pistes.forEach(function (p) {
								p.style.width = largeur + 'px'
							})
						}
						if (this.debut === this.fin) {
							this.editeur.getEventEmitter().emit('select', this.debut, this.debut)
						} else {
							this.editeur.getEventEmitter().emit('select', this.debut, this.fin)
						}
					}.bind(this))
				}.bind(this))
			}
		},
		refaire () {
			if (this.positionHistorique === this.historique.length) {
				return
			}
			const donnees = this.historique[this.positionHistorique]
			if (donnees && donnees.length > 0) {
				this.$store.dispatch('modifierChargement', true)
				const distanceScroll = document.querySelector('.playlist-tracks').scrollLeft
				this.editeur.clear()
				this.editeur.load(donnees).then(function () {
					this.$store.dispatch('modifierChargement', false)
					this.mixage.donnees = donnees
					this.positionHistorique += 1
					this.$nextTick(function () {
						if (document.querySelector('.playlist-overlay')) {
							document.querySelector('.playlist-tracks').scrollLeft = distanceScroll
							const largeur = document.querySelector('.playlist-overlay').clientWidth
							const pistes = document.querySelectorAll('.channel-wrapper')
							pistes.forEach(function (p) {
								p.style.width = largeur + 'px'
							})
						}
						if (this.debut === this.fin) {
							this.editeur.getEventEmitter().emit('select', this.debut, this.debut)
						} else {
							this.editeur.getEventEmitter().emit('select', this.debut, this.fin)
						}
					}.bind(this))
				}.bind(this))
			}
		},
		afficherModifierTitrePiste (piste) {
			this.indexTitrePiste = this.editeur.tracks.indexOf(piste)
			this.titrePiste = this.editeur.tracks[this.indexTitrePiste].name
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'titre-piste'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		modifierTitrePiste () {
			if (this.titrePiste !== '') {
				this.editeur.tracks[this.indexTitrePiste].name = this.titrePiste
				this.editeur.draw(this.editeur.render())
				this.mixage.donnees = this.editeur.getInfo().tracks
				this.enregistrerDonnees()
				this.fermerModaleTitrePiste()
			}
		},
		fermerModaleTitrePiste () {
			this.modale = ''
			this.titrePiste = ''
			this.indexTitrePiste = -1
			this.gererFocus()
		},
		afficherModifierTitre () {
			this.titre = this.mixage.titre
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'titre'
			this.$nextTick(function () {
				document.querySelector('.modale .titre-mixage').focus()
			})
		},
		modifierTitre () {
			if (this.titre !== '') {
				let titre = true
				if (this.mixage.titre === '') {
					titre = false
				}
				this.mixage.titre = this.titre
				this.fermerModaleTitre()
				if (titre === false) {
					this.enregistrer()
				} else {
					this.$store.dispatch('modifierTitreMixage', { id: this.mixage.id, titre: this.mixage.titre })
					this.$store.dispatch('modifierInformation', 'Titre du mixage modifié.')
				}
			}
		},
		fermerModaleTitre () {
			this.modale = ''
			this.titre = ''
			this.gererFocus()
		},
		exporter () {
			this.$store.dispatch('modifierChargement', true)
			this.mixage.donnees = this.editeur.getInfo().tracks
			this.$store.dispatch('enregistrerMixage', this.mixage)
			this.editeur.getEventEmitter().emit('stop')
			this.editeur.getEventEmitter().emit('startaudiorendering', 'wav')
		},
		exporterAudio (type, blob) {
			this.$store.dispatch('modifierChargement', false)
			saveAs(blob, 'mixage_' + this.mixage.id + '.' + type)
		},
		enregistrerBrouillon () {
			this.mixage.donnees = this.editeur.getInfo().tracks
			if (this.mixage.donnees.length > 0) {
				this.$store.dispatch('enregistrerMixage', this.mixage)
			}
		},
		sortir () {
			this.enregistrerBrouillon()
			this.$router.push('/')
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.message !== '') {
				this.$store.dispatch('modifierMessage', '')
			} else if (event.key === 'Escape' && this.modale === 'sonotheque') {
				this.fermerModaleSonotheque()
			} else if (event.key === 'Escape' && this.modale === 'televerser') {
				this.fermerModaleTeleverser()
			} else if (event.key === 'Escape' && this.modale === 'titre') {
				this.fermerModaleTitre()
			} else if (event.key === 'Escape' && this.modale === 'titre-piste') {
				this.fermerModaleTitrePiste()
			} else if (event.key === 'Escape' && this.confirmation) {
				this.fermerModaleConfirmation()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.modale = ''
				this.gererFocus()
			} else if (this.modale === '' && event.key === ' ') {
				event.preventDefault()
				this.selectionnerOutil('lecture')
			} else if (this.modale === '' && event.key === 'f') {
				event.preventDefault()
				this.selectionnerOutil('stop')
			} else if (this.modale === '' && (event.key === 'Home' || event.key === 'PageUp')) {
				event.preventDefault()
				this.selectionnerOutil('aller-debut')
			} else if (this.modale === '' && (event.key === 'End' || event.key === 'PageDown')) {
				event.preventDefault()
				this.selectionnerOutil('aller-fin')
			} else if (this.modale === '' && !this.lecture && event.ctrlKey && event.key === 'z') {
				event.preventDefault()
				this.defaire()
			} else if (this.modale === '' && !this.lecture && event.ctrlKey && event.key === 'y') {
				event.preventDefault()
				this.refaire()
			} else if (this.modale === '' && this.outil === 'selection' && this.debut < this.fin && !this.lecture && ((event.ctrlKey && event.key === 'x') || event.key === 'Delete')) {
				event.preventDefault()
				this.selectionnerOutil('couper')
			} else if (this.modale === '' && this.outil === 'selection' && this.debut < this.fin && !this.lecture && event.key === 't') {
				event.preventDefault()
				this.selectionnerOutil('rogner')
			} else if (this.modale === '' && !this.lecture && event.key === 's') {
				event.preventDefault()
				this.selectionnerOutil('separer')
			} else if (this.modale === '' && !this.lecture && ((event.ctrlKey && event.key === '+') || (event.ctrlKey && event.key === '='))) {
				event.preventDefault()
				this.selectionnerOutil('zoomer')
			} else if (this.modale === '' && event.ctrlKey && event.key === '-') {
				event.preventDefault()
				this.selectionnerOutil('dezoomer')
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		activerDefilementHorizontal () {
			const outils = document.querySelector('#outils')
			outils.addEventListener('mousedown', this.defilementHorizontalDebut)
			outils.addEventListener('mouseleave', this.defilementHorizontalFin)
			outils.addEventListener('mouseup', this.defilementHorizontalFin)
			outils.addEventListener('mousemove', this.defilementHorizontalEnCours)
			this.defilementActive = true
		},
		desactiverDefilementHorizontal () {
			const outils = document.querySelector('#outils')
			outils.removeEventListener('mousedown', this.defilementHorizontalDebut)
			outils.removeEventListener('mouseleave', this.defilementHorizontalFin)
			outils.removeEventListener('mouseup', this.defilementHorizontalFin)
			outils.removeEventListener('mousemove', this.defilementHorizontalEnCours)
			this.defilementActive = false
		},
		defilementHorizontalDebut (event) {
			const outils = document.querySelector('#outils')
			this.defilement = true
			this.depart = event.pageX - outils.offsetLeft
			this.distance = outils.scrollLeft
		},
		defilementHorizontalFin () {
			this.defilement = false
		},
		defilementHorizontalEnCours (event) {
			if (!this.defilement) { return }
			event.preventDefault()
			const outils = document.querySelector('#outils')
			const x = event.pageX - outils.offsetLeft
			const delta = (x - this.depart) * 1.5
			outils.scrollLeft = this.distance - delta
		}
	}
}
</script>

<style scoped>
body,
#app {
	overflow: hidden;
}

#mixage {
	width: 100%;
	height: 100%;
}

#titre-mixage {
	display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: calc(100% - 840px);
	margin-right: 16px;
	text-align: center;
	cursor: pointer;
}

#titre-mixage span {
	font-size: 24px;
    font-weight: 500;
	vertical-align: middle;
}

#titre-mixage i {
	visibility: hidden;
	font-size: 24px;
    vertical-align: middle;
	margin-left: 10px;
}

#titre-mixage:hover i {
	visibility: visible;
}

#vide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 32px;
	height: calc(100% - 144px);
}

#vide .texte {
	display: block;
	width: 100%;
	font-size: 23px;
	font-weight: 400;
	margin-top: 60px;
	line-height: 2;
}

#vide .icone {
	font-size: 200px;
	color: #aaa;
	margin-bottom: 60px;
	line-height: 1;
}

#outils {
	display: flex;
	justify-content: flex-start;
	padding: 0 32px;
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #f7d000;
	overflow-x: auto;
}

.outils {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;
}

.outil {
	position: relative;
	font-size: 24px;
	padding: 0 10px;
	margin-bottom: 0;
	text-align: center;
	cursor: pointer;
	margin-right: 6px;
	min-width: 20px;
	height: 38px;
	line-height: 34px;
	color: #001d1d;
	border: 2px solid #001d1d;
	user-select: none;
}

.outil:not(.actif, .desactive):hover,
.outil:not(.actif, .desactive):active,
.outil.actif {
	background: #001d1d;
	color: #fff;
}

.outil.desactive {
	color: #aaa;
}

.outil:last-child {
	margin-right: 0;
}

#fondu-sortant i {
	transform: scale(-1, 1);
}

#curseur i {
	transform: rotate(90deg);
}

#temps {
	font-size: 18px;
	font-weight: 500;
}

#conteneur {
	position: relative;
	padding: 16px 32px;
	height: calc(100% - 214px);
}

#editeur {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid #f7d000;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 70px;
	background: #fff;
	z-index: 10;
}

footer .bouton {
	font-weight: 500;
	font-size: 18px;
}

#sonotheque {
	max-width: 1146px;
	height: 640px;
}

#sonotheque .conteneur {
	overflow: hidden;
}

.sons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	overflow: auto;
}

.sons .son {
	padding: 17px 20px 10px;
	text-align: center;
	border: 2px solid #f7d000;
	margin: 10px;
	width: 260px;
	font-size: 0;
	background: #fff;
}

.sons .son .titre {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 1.25;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sons .son .stopper,
.sons .son .lire,
.sons .son .ajouter {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2px 0;
    font-size: 30px;
    color: #00ced1;
    margin: 10px 0;
    border: 2px solid #00ced1;
    cursor: pointer;
    background: #fff;
    line-height: 1;
    height: 40px;
}

.sons .son .stopper,
.sons .son .lire {
	border-right: 0;
}

.sons .son .stopper {
	color: #fff;
    background: #00ced1;
}

.sons .son .lire:hover,
.sons .son .ajouter:hover {
	background: #00ced1;
	color: #fff;
}

.sons .son .supprimer {
	display: inline-block;
	font-size: 24px;
	line-height: 1;
	color: #aaa;
	cursor: pointer;
}

.sons .son .supprimer:hover {
	color: #001d1d;
}

.sons .son .source {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #aaa;
	margin-top: 0;
	text-decoration: none;
	font-size: 12px;
}

.sons .son .source:hover {
	text-decoration: none;
}

#fichiers-vide {
	margin-top: 10px;
}

@media screen and (max-width: 1023px) {
    #titre-mixage {
		width: calc(100% - 570px);
	}
}
</style>

<style>
.playlist {
	position: relative;
	overflow: hidden;
}

.playlist .playlist-time-scale {
	height: 30px; 
}

.playlist .playlist-tracks {
	height: calc(100vh - 276.5px);
	background: #fff;
	overflow: auto;
}

.playlist .channel {
	background: #00ced1;
}
	
.playlist .channel-progress {
	background: #f7d000; 
}

.playlist .cursor {
	background: #001d1d; 
}

.playlist .wp-fade {
	background-color: rgba(0, 0, 0, 0.1); 
}
	
.playlist .state-cursor,
.playlist .state-select {
	cursor: text; 
}

.playlist .state-fadein {
	cursor: w-resize; 
}

.playlist .state-fadeout {
	cursor: e-resize; 
}

.playlist .state-shift {
	cursor: ew-resize; 
}
	
.playlist .selection.point {
	background: red; 
}
	
.playlist .selection.segment {
	background: rgba(0, 0, 0, 0.1); 
}

.playlist .channel-wrapper {
	display: flex;
	padding-left: 156px;
	margin: 0!important;
}

.playlist .channel-wrapper.silent .channel {
	opacity: 0.3; 
}
	
.playlist .controls {
	position: sticky!important;
	margin-left: -156px!important;
	background: #fff;
	text-align: center;
	user-select: none;
}
	
.playlist .controls header {
	color: #fff;
	background-color: #001d1d;
	margin-bottom: 12px;
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	width: 100%;
	display: flex;
}

.playlist .controls header .btn-collapse,
.playlist .controls header .btn-close {
	width: 24px;
	line-height: 29px;
	font-size: 14px;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.playlist .controls header .title {
	display: inline-block;
    width: calc(100% - 48px);
    text-align: left;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	cursor: pointer;
}

.playlist .btn-group span {
	display: inline-block;
    font-size: 12px;
    padding: 2px 7px;
    border: 1px solid #ddd;
	border-radius: 0;
	width: 55px;
    cursor: pointer;
}

.playlist .btn-group .btn-mute.active,
.playlist .btn-group .btn-solo.active {
	background: #fff5ae;
}

.playlist .btn-group .btn-mute {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.playlist .btn-group .btn-solo {
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.playlist .controls label {
	margin: 5px auto 0;
	width: 100%;
	display: inline-block;
	font-size: 16px;
	font-size: inherit;
	font-weight: 400;
}

.playlist .controls label.volume:before {
	font-family: 'Material Icons';
	content: '\e04e';
	color: #001d1d;
	font-size: 18px;
	padding-right: 5px;
	vertical-align: middle;
}

.playlist .controls label.volume:after {
	font-family: 'Material Icons';
	content: '\e050';
	color: #001d1d;
	font-size: 18px;
	padding-left: 5px; 
	vertical-align: middle;
}

.playlist .controls label.stereopan {
	margin-top: 2px;
}

.playlist .controls label.stereopan:before {
	font-family: 'sans-serif';
	content: 'L';
	color: #001d1d;
	font-size: 13px;
	padding-right: 10px;
}

.playlist .controls label.stereopan:after {
	font-family: 'sans-serif';
	content: 'R';
	color: #001d1d;
	font-size: 13px;
	padding-left: 10px;
}
	
.playlist .controls input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	width: 98px;
	vertical-align: middle;
	padding: 0;
	line-height: 1;
	margin: 0;
}

.playlist .controls input[type=range]::-webkit-slider-runnable-track {
	height: 6px;
	background: #ddd;
	border: none;
	border-radius: 3px;
	padding: 0; 
}
	
.playlist .controls input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #808080;
	cursor: pointer; 
	margin-top: -3px;
}
	
.playlist .controls input[type=range]:focus {
	outline: none; 
}
	
.playlist .controls input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc; 
}

.playlist .controls .stereopan-slider,
.playlist .controls .volume-slider {
	cursor: pointer;
}

.playlist-bottom-bar {
	float: left;
	width: 100%;
}

.playlist-time-scale {
	color: #808080;
}

.playlist .time {
	font-size: 12px;
}
</style>
