<template>
	<div class="conteneur-modale">
		<div class="modale" role="dialog">
			<header>
				<span class="titre" v-if="progression === 0">Enregistrer sa voix</span>
				<span class="titre" v-else>Chargement en cours…</span>
				<span class="fermer" role="button" :tabindex="message === '' && !$parent.confirmation ? 0 : -1" @click="$parent.modale = ''"><i class="material-icons">close</i></span>
			</header>
			<div class="conteneur">
				<div class="contenu">
					<div id="enregistrer" v-if="progression === 0">
						<span class="bouton enregistrer" role="button" :tabindex="message === '' && !$parent.confirmation ? 0 : -1" @click="enregistrerAudio" @keydown.enter="enregistrerAudio" v-if="!enregistrement && blob === ''">
							<i class="material-icons">fiber_manual_record</i>
						</span>
						<div id="enregistrement" v-if="enregistrement">
							<canvas id="visualisation" width="410" height="60" />
							<span class="bouton stopper" role="button" :tabindex="message === '' && !$parent.confirmation ? 0 : -1" @click="arreterEnregistrement" @keydown.enter="arreterEnregistrement">
								<i class="material-icons">stop</i>
							</span>
							<span class="temps">{{ dureeEnregistrement }}</span>
						</div>
						<audio controls preload v-if="!enregistrement && blob !== ''"><source :src="audio"></audio>
						<label for="champ-nom-enregistrement" v-if="!enregistrement && blob !== ''">Nom de l'enregistrement</label>
						<input id="champ-nom-enregistrement" type="text" :value="fichier" @input="fichier = $event.target.value" @keydown.enter="televerserAudio" v-if="!enregistrement && blob !== ''">
						<div class="actions" v-if="!enregistrement && blob !== ''">
							<span class="bouton primaire" role="button" :tabindex="message === '' && !$parent.confirmation ? 0 : -1" @click="supprimerEnregistrement" @keydown.enter="supprimerEnregistrement">Refaire</span>
							<span class="bouton primaire" role="button" :tabindex="message === '' && !$parent.confirmation ? 0 : -1" @click="televerserAudio" @keydown.enter="televerserAudio">Valider</span>
						</div>
					</div>
					<div id="progression" v-else>
						<progress :value="progression" max="100">{{ progression }} %</progress>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	name: 'Enregistrer',
	props: {
		mixage: Object
	},
	data () {
		return {
			audio: '',
			enregistrement: false,
			blob: '',
			mediaRecorder: '',
			flux: [],
			contexte: '',
			fichier: '',
			dureeEnregistrement: '00 : 00',
			intervalle: '',
			progression: 0
		}
	},
	computed: {
		chemin () {
			return this.$store.state.chemin
		},
		message () {
			return this.$store.state.message
		}
	},
	methods: {
		enregistrerAudio () {
			if (this.audio !== '') {
				this.audio.pause()
			}
			navigator.mediaDevices.enumerateDevices().then(function (devices) {
				let entreeAudio = false
				for (const device of devices) {
					if (device.kind === 'audioinput') {
						entreeAudio = true
						break
					}
				}
				if (entreeAudio === true) {
					navigator.mediaDevices.getUserMedia({ audio: true }).then(function (flux) {
						this.enregistrement = true
						this.mediaRecorder = new MediaRecorder(flux)
						this.mediaRecorder.start()
						this.visualiser(flux)
						const temps = Date.now()
						this.intervalle = setInterval(function () {
							const delta = Date.now() - temps
							let secondes = Math.floor((delta / 1000) % 60)
							let minutes = Math.floor((delta / 1000 / 60) << 0)
							if (secondes < 10) {
								secondes = '0' + secondes
							}
							if (minutes < 10) {
								minutes = '0' + minutes
							}
							this.dureeEnregistrement = minutes + ' : ' + secondes
						}.bind(this), 100)
						this.mediaRecorder.onstop = function () {
							if (this.flux.length > 0) {
								this.blob = new Blob(this.flux, { type: 'audio/wav' })
								this.enregistrement = false
								this.audio = URL.createObjectURL(this.blob)
								this.mediaRecorder = ''
								this.flux = []
								this.contexte = ''
								this.dureeEnregistrement = '00 : 00'
								if (this.intervalle !== '') {
									clearInterval(this.intervalle)
									this.intervalle = ''
								}
								this.$nextTick(function () {
									document.querySelector('#enregistrer input').focus()
								}.bind(this))
							}
						}.bind(this)
						this.mediaRecorder.ondataavailable = function (e) {
							this.flux.push(e.data)
						}.bind(this)
					}.bind(this)).catch(function () {
						this.enregistrement = false
						this.mediaRecorder = ''
						this.flux = []
						this.contexte = ''
						this.dureeEnregistrement = '00 : 00'
						this.$store.dispatch('modifierMessage', 'Votre microphone ne dispose pas des autorisations nécessaires pour lancer l\'enregistrement.')
					}.bind(this))
				} else {
					this.$store.dispatch('modifierMessage', 'Aucune entrée audio n\'a été détectée sur votre appareil.')
				}
			}.bind(this))
		},
		arreterEnregistrement () {
			this.mediaRecorder.stop()
		},
		visualiser (flux) {
			if (!this.contexte) {
				this.contexte = new AudioContext()
			}
			const source = this.contexte.createMediaStreamSource(flux)
			const analyser = this.contexte.createAnalyser()
			analyser.fftSize = 2048
			const bufferLength = analyser.frequencyBinCount
			const dataArray = new Uint8Array(bufferLength)
			source.connect(analyser)

			this.$nextTick(function () {
				draw()
			})

			function draw () {
				if (document.querySelector('#visualisation')) {
					const canvas = document.querySelector('#visualisation')
					const canvasCtx = canvas.getContext('2d')
					const largeur = canvas.width
					const hauteur = canvas.height
					requestAnimationFrame(draw)
					analyser.getByteTimeDomainData(dataArray)

					canvasCtx.fillStyle = '#eeeeee'
					canvasCtx.fillRect(0, 0, largeur, hauteur)
					canvasCtx.lineWidth = 2
					canvasCtx.strokeStyle = '#000000'
					canvasCtx.beginPath()

					const sliceWidth = largeur * 1.0 / bufferLength
					let x = 0

					for (let i = 0; i < bufferLength; i++) {
						const v = dataArray[i] / 128.0
						const y = v * hauteur / 2
						if (i === 0) {
							canvasCtx.moveTo(x, y)
						} else {
							canvasCtx.lineTo(x, y)
						}
						x += sliceWidth
					}
					canvasCtx.lineTo(canvas.width, canvas.height / 2)
					canvasCtx.stroke()
				}
			}
		},
		supprimerEnregistrement () {
			this.blob = ''
			this.audio = ''
		},
		televerserAudio () {
			if (this.fichier !== '' && this.blob !== '') {
				const formulaire = new FormData()
				formulaire.append('mixage', this.mixage.id)
				formulaire.append('fichier', this.blob, 'enregistrement.wav')
				axios.post(this.chemin + '/api/enregistrer-audio', formulaire, {
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					onUploadProgress: function (progression) {
						const pourcentage = parseInt(Math.round((progression.loaded * 100) / progression.total))
						this.progression = pourcentage
					}.bind(this)
				}).then(function (reponse) {
					if (reponse.data === 'espace_insuffisant') {
						this.progression = 0
						this.$store.dispatch('modifierMessage', 'Espace insuffisant sur votre ordinateur.')
					} else {
						const audio = this.chemin + '/fichiers/' + reponse.data
						const audioProjet = this.chemin + '/projets/' + this.mixage.id + '/' + reponse.data
						this.$store.dispatch('ajouterFichier', { titre: this.fichier, audio: audio, fichier: reponse.data })
						this.$parent.ajouterAudio(audioProjet, this.fichier)
						this.$parent.modale = ''
					}
				}.bind(this)).catch(function () {
					this.progression = 0
					this.$store.dispatch('modifierMessage', 'Erreur lors de l\'enregistrement du fichier.')
				}.bind(this))
			} else if (this.fichier === '') {
				this.$store.dispatch('modifierMessage', 'Veuillez indiquer un nom pour cet enregistrement.')
			}
		}
	}
}
</script>

<style scoped>
.contenu {
	text-align: center;
}

.bouton:not(.primaire) {
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 0;
	line-height: 1;
}

.bouton i {
	font-size: 48px;
	line-height: 1;
	margin: 0;
}

.bouton.enregistrer {
	color: #ff1f1f;
	border-radius: 4px;
}

.bouton.stopper {
    animation: couleur ease-in 2s infinite;
    color: #001d1d;
}

label {
	text-align: left;
	margin-top: 20px;
}

.actions {
	margin-top: 20px;
}

#enregistrement {
	font-size: 0;
}

#enregistrement .temps {
	font-size: 30px;
	font-weight: 500;
	margin-left: 25px;
	vertical-align: middle;
}

#visualisation {
	margin-bottom: 20px;
}

audio {
	width: 100%;
}

@keyframes couleur {
    0% {
		background: #fff;
	}
    50% {
		background: #ff1f1f;
	}
    100% {
		background: #fff;
	}
}
</style>
