<template>
	<main>
		<div id="conteneur-chargement" v-if="chargement">
			<div id="chargement">
				<div class="spinner"><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /></div>
			</div>
		</div>
		<div id="conteneur-message" class="conteneur-modale" v-if="message">
			<div id="message" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<div class="message" v-html="message" />
						<div class="actions">
							<span class="bouton primaire" role="button" tabindex="0" @click="fermerMessage" @keydown.enter="fermerMessage">Fermer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<router-view :key="$route.fullPath" />
	</main>
</template>

<script>
export default {
	name: 'App',
	data () {
		return {
			elementPrecedent: null
		}
	},
	computed: {
		chargement () {
			return this.$store.state.chargement
		},
		message () {
			return this.$store.state.message
		},
		information () {
			return this.$store.state.information
		}
	},
	watch: {
		message: function (message) {
			if (message !== '') {
				this.elementPrecedent = (document.activeElement || document.body)
				this.$nextTick(function () {
					document.querySelector('#message .bouton').focus()
				})
			}
		},
		information: function (information) {
			if (information !== '') {
				const element = document.createElement('div')
				const id = 'information_' + Date.now().toString(36) + Math.random().toString(36).substring(2)
				element.id = id
				element.textContent = information
				element.classList.add('notification')
				document.querySelector('#app').appendChild(element)
				this.$store.dispatch('modifierInformation', '')
				setTimeout(function () {
					element.parentNode.removeChild(element)
				}, 2000)
			}
		}
	},
	mounted () {
		const port = document.querySelector('#app').getAttribute('data-port')
		this.$store.dispatch('modifierChargement', false)
		this.$store.dispatch('modifierMessage', '')
		this.$store.dispatch('modifierInformation', '')
		this.$store.dispatch('modifierVersion', '1.1.0')
		const chemin = 'http://localhost:' + port
		this.$store.dispatch('modifierChemin', chemin)
	},
	methods: {
		fermerMessage () {
			this.$store.dispatch('modifierMessage', '')
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		}
	}
}
</script>

<style src="destyle.css/destyle.css"></style>
<style src="@/assets/css/style.css"></style>
